@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-plate-accent: #fda13f;
    --color-plate-muted: #fdb972;
    --color-content: #024D66;
    --color-white: #fafafa;
    --color-plate-nav: #61B3CE;
    --color-plate-task: #D9D9D9;

    --color-priority-high: #A80000;
    --color-priority-medium: #635B00;
    --color-priority-low: #006020;
}
